/**RESET CSS**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
@font-face{
    font-family: Androgyne;
    src: url('fonts/Androgyne.ttf');
} 
@font-face{
    font-family: Centur;
    src: url('fonts/Centur.ttf');
} 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/**SET COMMON CLASS**/
.clear{
    clear: both;
}
.bold{
    font-weight: bold;
}
.left{
    float: left;
}
.right{
    float: right;
}
/**MAIN SETTING**/
body{
    background: #dfdfdf;
    min-width: 960px;
}
#wrapper{
    margin: 0 auto;
    width: 960px;
    background: rgb(162,252,253); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(162,252,253,1) 0%, rgba(68,188,248,1) 50%, rgba(15,152,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(162,252,253,1)), color-stop(50%,rgba(68,188,248,1)), color-stop(100%,rgba(15,152,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(162,252,253,1) 0%,rgba(68,188,248,1) 50%,rgba(15,152,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(162,252,253,1) 0%,rgba(68,188,248,1) 50%,rgba(15,152,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(162,252,253,1) 0%,rgba(68,188,248,1) 50%,rgba(15,152,245,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(162,252,253,1) 0%,rgba(68,188,248,1) 50%,rgba(15,152,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2fcfd', endColorstr='#0f98f5',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 0 5px #888;
}
#header{
    min-height: 315px;
    position: relative;
}
#header .main-menu a{
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: Androgyne, Tahoma;
    display: inline-block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#header .main-menu a:hover{
    color: #0491b4;
}
#header .main-menu li:first-child a{
    position: absolute;
    top: 8px; 
    left: 100px;
    background: url(images/cloud1.png) no-repeat;
    width: 304px;
    height: 153px;
    line-height: 153px;
    z-index: 2;
}
#header .main-menu li:first-child + li a{
    position: absolute;
    top: 118px; 
    left: 225px;
    background: url(images/cloud2.png) no-repeat;
    width: 277px;
    height: 191px;
    line-height: 191px;
    z-index: 4;
}
#header .main-menu li:first-child + li + li a{
    position: absolute;
    top: 120px; 
    left: 487px;
    background: url(images/cloud3.png) no-repeat;
    width: 308px;
    height: 215px;
    line-height: 235px;
    z-index: 6;
}
#header .main-menu li:first-child + li + li + li a{
    position: absolute;
    top: 0px; 
    left: 665px;
    background: url(images/cloud4.png) no-repeat;
    width: 261px;
    height: 154px;
    line-height: 160px;
    z-index: 2;
}
#header .main-menu li:first-child + li + li + li + li a{
    position: absolute;
    top: 118px; 
    left: 765px;
    background: url(images/cloud5.png) no-repeat;
    width: 188px;
    height: 116px;
    line-height: 116px;
    z-index: 4;
}
#header .main-menu li:first-child a:hover{
    background: url(images/cloud1-hover.png) no-repeat;
}
#header .main-menu li:first-child + li a:hover{
    background: url(images/cloud2-hover.png) no-repeat;
}
#header .main-menu li:first-child + li + li a:hover{
    background: url(images/cloud3-hover.png) no-repeat;
}
#header .main-menu li:first-child + li + li + li a:hover{
    background: url(images/cloud4-hover.png) no-repeat;
}
#header .main-menu li:first-child + li + li + li + li a:hover{
    background: url(images/cloud5-hover.png) no-repeat;
}
#header .sun{
    background: url(images/sun.png) no-repeat;
    width: 128px; height: 126px;
    z-index: 1;
    position: absolute;
    top: 0px; left: 0;
}
#header .rainbow{
    background: url(images/rainbow.png) no-repeat;
    width: 323px; height: 232px;
    z-index: 99;
    position: absolute;
    top: 0px; left: 475px;
}
#header .cloud{
    background: url(images/cloud.png) no-repeat;
    width: 248px; height: 127px;
    z-index: 1;
    position: absolute;
    top: 67px; left: 410px;
}
/**/
#main{
    min-height: 134px;
    text-align: center;
    padding-top: 120px;
}
#searchform{
    display: inline-block;
    width: 600px; height: 100px;
    margin: 50px auto 20px;
    clear: both;
}
#searchform .tab{
    text-align: left;
    margin-left: -30px;
    display: inline-block;
    margin-bottom: -3px;
    position: relative;
    z-index: 2;
    width: 450px;
}
#searchform .tab1{
    float: left;
    background: #f0b962;
    border-radius: 5px 5px 0 0;
    margin: 0 1px -1px 0;
    padding: 10px 16px 0 10px;
    display: inline-block;
    border-left: #fff solid 1px;
    border-top: #fff solid 1px;
}
#searchform .tab1 input{
    display: none;
}
#searchform .tab1 label{
    background: url(images/radio1.png) no-repeat left 0;
    padding-left: 22px;
    font-family: Androgyne;
    font-size: 14px;
    color: #333;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}
#searchform .tab1 input:checked + label{
    background: url(images/radio1.png) no-repeat left -21px;
}
#searchform .searchbox{
    background: #f0b962;
    border: #fff solid 1px;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;  
    box-shadow: 0 3px 5px #888;
    z-index: 1;
}
#searchform .searchbox input[type='text']{
    border-radius: 5px;
    width: 450px;
    padding: 10px 5px;
    border: #dca246 solid 1px;
    font-size: 18px;
    box-shadow: inset 0 -10px 10px #dfdfdf;
}
#searchform .searchbox input[type="submit"]{
    background: url(images/search.png) no-repeat center center;
    background-color: #ececec;
    cursor: pointer;
    box-shadow: inset 3px 3px 5px #bfbfbf;
    text-indent: -9999px;
    border: #b87d20 solid 1px;
    padding: 3px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}
/**/
#footer{
    background: url(images/footer.png) no-repeat center top;
    height: 321px;
    position: relative;
}
#footer .link{
    position: absolute;
    width: 140px;
    display: inline-block;
    text-align: center;
    color: #000;
    font-size: 22px;
    font-family: Androgyne, Tahoma;
    top: 20px;
    left: 30px;
    text-shadow: 1px 1px #dfdfdf;
}
#footer .link:hover{
    color: #106092;
}

/**/
.search2{
    position: relative;
    top: 270px;
    left: 30px;
    width: 600px;
    text-align: center;
    float: left;
}
.search1{
    position: relative;
    top: 300px;
    left: 150px;
    width: 600px;
    text-align: center;
    float: left;
}
#main > .left{
    text-align: left;
    width: 230px;
    background: #ebe8b0;
    background: rgba(226,210,121, 0.6);
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}
.category{
    background: #fff;
    border-radius: 10px;
    border: #d2cf99 solid 1px;
    padding: 10px;
}
.category .title{
    background: url(images/title-left.png) no-repeat;
    height: 40px;
    line-height: 32px;
    color: #fff;
    margin-left: -20px;
    margin-right: -10px;
    margin: 10px -10px 10px -43px;
    text-align: center;
    text-shadow: 1px 1px #555;
    text-transform: uppercase;
    font-family: verdana;
}
.category ul li a{
    display: block;
    color: #333;
    font-size: 14px;
    margin: 8px 0 0 5px;
    padding-top: 8px;
    font-family: arial;
    line-height: 18px;
    border-top: #dfdfdf solid 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.category ul li:first-child a{
    border: none;
}
.category ul li a:before{
    content: "•";
    margin-right: 5px;
}
.category ul li a:hover{
    color: #0b82ba;
}
#main > .right{
    text-align: left;
    width: 690px;
    margin-right: 10px;
}
#main > .right h1.title{
    background: url(images/arrow.png) no-repeat left center;
    padding-left: 30px;
    color: #555;
    font-size: 20px;
    font-family: Centur, Arial;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}
#main > .right h1.title span{
    color: #18609c;
}
.righttop .maincontent{
    background: #ebe8b0;
    background: rgba(226,210,121, 0.6);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 3px #909090;
}
.righttop .maincontent ul, .righttop .maincontent > div{
    background: #fff;
    border-radius: 5px;
    border: #d2cf99 solid 1px;
    padding: 10px 0;
}
.righttop .maincontent > div{
    padding: 10px;
}
.righttop .maincontent ul li{
    width: 29%;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    border-left: #ebe8b0 solid 1px;
}
.righttop .maincontent ul li:first-child{
    border: none;
}
.righttop .maincontent ul li img{
    width: 100%;
    height: 102px;
    border-radius: 5px;
    margin-bottom: 12px;
}
.righttop .maincontent ul li img:hover{
    opacity: 0.6;
}
.righttop .maincontent ul li .desc{
    color: #555;
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    margin-bottom: 10px;
}
.righttop .maincontent ul li p{
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
}
.righttop .maincontent ul li p span{
    color: #228281;
}
.righttop .maincontent ul li a.more{
    border: #d94424 solid 1px;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 3px;
    background: rgb(252,166,148); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,166,148,1) 0%, rgba(252,132,108,1) 53%, rgba(254,104,71,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,166,148,1)), color-stop(53%,rgba(252,132,108,1)), color-stop(100%,rgba(254,104,71,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca694', endColorstr='#fe6847',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-shadow: 1px 1px #d94424;
}
.righttop .maincontent ul li a.more:hover{
    background: rgb(254,104,71); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,104,71,1) 0%, rgba(252,132,108,1) 47%, rgba(252,166,148,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,104,71,1)), color-stop(47%,rgba(252,132,108,1)), color-stop(100%,rgba(252,166,148,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6847', endColorstr='#fca694',GradientType=0 ); /* IE6-9 */

}
/**/
.rightbottom .maincontent li{
    background: #ebe8b0;
    background: rgba(226,210,121, 0.6);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    width: 155px;
    float: left;
    margin-right: 10px;
    box-shadow: 0 2px 3px #909090;
}
.rightbottom .maincontent li:nth-child(4n+4){
    margin-right: 0;
}
.rightbottom .maincontent li > div{
    background: #fff;
    border-radius: 5px;
    border: #d2cf99 solid 1px;
    padding: 0;
}
.rightbottom .maincontent li img{
    width: 149px;
    height: 120px;
    border-radius: 5px;
    margin: 2px 2px 10px 2px;
}
.rightbottom .maincontent li img:hover{
    opacity: 0.6;
}
.rightbottom .maincontent li .desc{
    color: #555555;
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 5px;
}
.rightbottom .maincontent li p {
    color: #555555;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0 5px;
}

.rightbottom .maincontent li p span {
    color: #228281;
}
.rightbottom .maincontent li a.more{
    border: #d94424 solid 1px;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 3px;
    background: rgb(252,166,148); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,166,148,1) 0%, rgba(252,132,108,1) 53%, rgba(254,104,71,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,166,148,1)), color-stop(53%,rgba(252,132,108,1)), color-stop(100%,rgba(254,104,71,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca694', endColorstr='#fe6847',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-shadow: 1px 1px #d94424;
    margin: 0 0 10px 5px;
}
.rightbottom .maincontent a.more:hover{
    background: rgb(254,104,71); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,104,71,1) 0%, rgba(252,132,108,1) 47%, rgba(252,166,148,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,104,71,1)), color-stop(47%,rgba(252,132,108,1)), color-stop(100%,rgba(252,166,148,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6847', endColorstr='#fca694',GradientType=0 ); /* IE6-9 */

}
/**/
.sociallink{
    float: right;
    position: absolute;
    top: 375px;
    right: 20px;
}
.sociallink1{
    top: 400px
}
.social-icons li {
    border-radius: 2px;
    display: inline;
    float: left;
    list-style: none outside none;
    margin-bottom: 10px;
    margin-left: 5px;
    text-indent: -9999px;
    transition: all 0.3s ease-in-out 0s;
}
.social-icons li a {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 28px;
    width: 28px;
}
.social-icons li:hover {
    background-position: 0 -38px;
}
.social-icons .facebook {
    background: url("images/facebook.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social-icons .googleplus {
    background: url("images/googleplus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social-icons .twitter {
    background: url("images/twitter.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
/**/
.righttop, .rightbottom{
    width: 100%;
}
.maindetail{
    background: #ebe8b0;
    background: rgba(226,210,121, 0.6);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 3px #909090;
}
.maindetail > div{
    border-radius: 5px;
    border: #d2cf99 solid 1px;
    padding: 10px 10px 40px 10px;
    background: url(images/leaf.png) no-repeat left bottom;
    background-color: #fff;
}
.maindetail .titledetail{
    background: url("images/arrow.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #555555;
    font-family: Centur,Arial;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 10px;
    padding-left: 30px
}
.maindetail .left{
    width: 160px;
}
.maindetail .left img{
    width: 100%;
    border: #dfdfdf solid 1px;
    padding: 2px;
}
.maindetail .right{
    width: 480px;
}
.maindetail .bigtit{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
    border-bottom: #EBE8B0 solid 1px;
    padding-bottom: 3px;
    background: url(images/pencil.png) no-repeat;
    padding-left: 30px;
    text-transform: uppercase;
}
.maindetail .viewtit{
    color: #555;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 30px;
    padding-left: 5px;
}
/**/
.maincontent .box{
    clear: both;
    margin: 10px 0;
    padding-top: 10px;
    border-top: #EBE8B0 solid 2px
}
.maincontent .box:first-child{
    border: none
}
.maincontent .box img{
    width: 160px;
    height: 120px;
    border: #dfdfdf solid 1px;
    padding: 2px;
}
.maincontent .box img:hover{
    border-color: #aaa;
    opacity: 0.7;
}
.maincontent .box .right{
    width: 480px;
    position: relative;
    padding-bottom: 20px;
    min-height: 100px;
}
.maincontent .box .bigtit{
    color: #444;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 3px;
    border-bottom: #dfdfdf dotted 1px
}
.maincontent .box .right > div{
    font-size: 14px;
    color: #555;
    line-height: 20px;
}
.maincontent .box .right a.more{
    position: absolute;
    right: 10px;
    bottom: 5px;
    border: #d94424 solid 1px;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 3px;
    background: rgb(252,166,148); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,166,148,1) 0%, rgba(252,132,108,1) 53%, rgba(254,104,71,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,166,148,1)), color-stop(53%,rgba(252,132,108,1)), color-stop(100%,rgba(254,104,71,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca694', endColorstr='#fe6847',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-shadow: 1px 1px #d94424;
}
.maincontent .box .right a.more:hover{
    background: rgb(254,104,71); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,104,71,1) 0%, rgba(252,132,108,1) 47%, rgba(252,166,148,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,104,71,1)), color-stop(47%,rgba(252,132,108,1)), color-stop(100%,rgba(252,166,148,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6847', endColorstr='#fca694',GradientType=0 ); /* IE6-9 */

}
/**/
.entry-content img{
    margin: 10px;
}
.entry-content p{
    margin: 0 0 12px 0;
    color: #555;
    line-height: 20px;
    font-size: 15px;
}
/**/
.lienhe{
    margin: 20px 0;
}
.lienhe p{
    margin: 0 0 8px 0;
    color: #555;
    line-height: 20px;
    font-size: 15px;
}
.lienhe .contact{
    width: 50%;
    float: left;
}
.lienhe form.contact input[type="text"], .lienhe form.contact input[type="email"]{
    clear: both;
    width: 100%;
    border: #afafaf solid 1px;
    padding: 5px;
    background: #F9F2F2;
    margin: 8px 0;
}
.lienhe form.contact textarea{
    clear: both;
    width: 100%;
    border: #afafaf solid 1px;
    padding: 5px;
    margin: 8px 0;
    height: 200px;
    background: #F9F2F2;
}
.lienhe form.contact input:focus, .lienhe form.contact textarea:focus{
    border-color: #d49d27;
    background: #f8efec;
}
.lienhe form.contact input[type="submit"]{
    border: #d94424 solid 1px;
    padding: 6px 25px;
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    background: rgb(252,166,148); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,166,148,1) 0%, rgba(252,132,108,1) 53%, rgba(254,104,71,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,166,148,1)), color-stop(53%,rgba(252,132,108,1)), color-stop(100%,rgba(254,104,71,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,166,148,1) 0%,rgba(252,132,108,1) 53%,rgba(254,104,71,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca694', endColorstr='#fe6847',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px #d94424;
}
.lienhe form.contact input[type="submit"]:hover{
    background: rgb(254,104,71); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,104,71,1) 0%, rgba(252,132,108,1) 47%, rgba(252,166,148,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,104,71,1)), color-stop(47%,rgba(252,132,108,1)), color-stop(100%,rgba(252,166,148,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,104,71,1) 0%,rgba(252,132,108,1) 47%,rgba(252,166,148,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6847', endColorstr='#fca694',GradientType=0 ); /* IE6-9 */

}
.lienhe .myinfo{
    width: 45%;
    float: right;
}
.lienhe .myinfo p span{
    font-weight: bold;
}
.lienhe .myinfo iframe{
    border: #dfdfdf solid 1px;
    width: 280px !important;
    height: 223px !important;
}

.contact label{
	margin-left: 10px;
	color: red;
}
.contact-success{
	border: 1px #d94424 solid;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}

